<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sabertooth.Fx.Properties.Settings.Database" connectionString="Data Source=.;Initial Catalog=SabertoothFx;Integrated Security=True" />
    </connectionStrings>
</configuration>